extends layout

block head
  link(href='/css/dashboard.css' rel='stylesheet' type='text/css')

block body
  .e-row
    .e-col-12
      h1 Dashboard

  .e-row(ng-controller="DashboardController as ctrl")
    .e-col-12

      .gridster
        ul
          li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
            highchart(id="chart1" config="ctrl.chartConfig")
          li(data-row='2', data-col='1', data-sizex='1', data-sizey='1') b
          li(data-row='3', data-col='1', data-sizex='1', data-sizey='1') c
          li(data-row='1', data-col='2', data-sizex='2', data-sizey='1') d
          li(data-row='2', data-col='2', data-sizex='2', data-sizey='2') e
          li(data-row='1', data-col='4', data-sizex='1', data-sizey='1')
          li(data-row='2', data-col='4', data-sizex='2', data-sizey='1')
          li(data-row='3', data-col='4', data-sizex='1', data-sizey='1')
          li(data-row='1', data-col='5', data-sizex='1', data-sizey='1')
          li(data-row='3', data-col='5', data-sizex='1', data-sizey='1')
          li(data-row='1', data-col='6', data-sizex='1', data-sizey='1')
          li(data-row='2', data-col='6', data-sizex='1', data-sizey='2')


block body_bottom
  script(src="/scripts/templates.js")
  script(src="/scripts/dashboard.js")
